/.DS_Store
/Weather.xcworkspace/xcuserdata/igrampe.xcuserdatad/UserInterfaceState.xcuserstate
/Weather.xcworkspace/xcuserdata/igrampe.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Weather.xcodeproj/project.xcworkspace/xcuserdata/igrampe.xcuserdatad/UserInterfaceState.xcuserstate
/Podfile.lock
/Pods
